<form enctype="multipart/form-data" action='/profiles/<%= @user.id %>/edit' accept-charset="UTF-8" method="post" autocomplete="off" class="was-validated" id="edit_profile">
    <input type="hidden" name="profile_id" value="<%= @profile.id %>">

    <div class="form-group">
        <div class="row m-auto">
            <div class="col-3">
                <label for="name">Name</label>
            </div>
            <div class="col-9">
                <input type="text" placeholder="Name" class="form-control" name="name" id="name" value="<%= @profile.name %>" required>
            </div>
        </div>
    </div>

        <div class="form-group">
        <div class="row m-auto">
            <div class="col-3">
                <label>Gender</label>
            </div>
            <div class="col-9">
                <div class="row">
                    <% if @profile.gender == "male" %>
                        <div class="col-4 d-flex align-items-center justify-content-start">
                            <input type="radio" class="form-input mb-2" name="gender" id="male" value="male" checked>
                            <label for="male">Male</label>
                        </div>
                        <div class="col-4 d-flex align-items-center justify-content-start">
                            <input type="radio" class="form-input mb-2" name="gender" id="female" value="female">
                            <label for="female">Female</label>
                        </div>
                    <% else %>
                            <div class="col-4 d-flex align-items-center justify-content-start">
                            <input type="radio" class="form-input mb-2" name="gender" id="male" value="male">
                            <label for="male">Male</label>
                        </div>
                        <div class="col-4 d-flex align-items-center justify-content-start">
                            <input type="radio" class="form-input mb-2" name="gender" id="female" value="female" checked>
                            <label for="female">Female</label>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row m-auto">
            <div class="col-3">
                <label for="age">Age</label>
            </div>
            <div class="col-9">
                <input type="number" placeholder=". . Years" class="form-control" name="age" id="age" value="<%= @profile.age %>" required>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row m-auto">

            <div class="col-3">
                <label for="profile_pic">Profile Picture</label>
            </div>
            <div class="col-9">
                <input type="file" name="profile_pic" id="profile_pic" >
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row m-auto">

            <div class="col-3">
                <label for="cover_pic">Cover Picture</label>
            </div>
            <div class="col-9">
                <input type="file" name="cover_pic" id="cover_pic" >
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row m-auto">
            <div class="col-3">
                <label for="bio">Bio</label>
            </div>
            <div class="col-9">
                <textarea type="text" placeholder="Bio Here (You can skip)" class="form-control" name="bio" id="bio" ><%= @profile.bio %></textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row m-auto">
            <div class="col">
                <button type="submit" class="btn btn-warning" id="edit_btn">Edit</button>
            </div>
        </div>
    </div>

</form>
