
<div class="row main" style="min-height: 100vh;">

    <%# ISE link %>
    <div class="col-md-2 mt-4">
        <%= render "groups/side_nav", group: @group %>

        <div class="row m-auto">
        <hr><hr>
            <div class="col-12 font-weight-bolder">
                Membership
            </div>
            <div class="col-12">
                <%# Admin %>
                <%= render "layouts/collapse_expand", {type:"member", tag: "Admins", listId: "adminList", items: @group.group_admin} %>

                <%# members %>
                <%= render "layouts/collapse_expand", {type:"member", tag: "Members", listId: "membersList", items: @group.members} %>

                <%# pending Members %>
                <%= render "layouts/collapse_expand", {type:"member", tag: "Pending Members", listId: "pendingMembersList", items: @group.pending_members} %>
            </div>
        </div>
    </div>

    <%# Chart body %>
    <div class="col-md-7">
        <%= render "groups/group_chart" %>
    </div>

    <%# ISE link %>
    <div class="col-md-3">

        <div class="group-name text-center">
            <%= @group.name %>
        </div>
        <hr>

       <%= render 'layouts/date_filter_template' %>

        <%# Create Membership Section %>

        <%# to hide members in personal group %>
        <% if @group.id != 0 %>
            <div class="row border shadow p-sm-2 rounded">
                <div class="col-12 text-primary font-weight-bolder">Add member</div>
                <hr>
                <% if @group.id != 0 %>
                    <% if Membership.find_by(group_id: @group.id, user_id: current_user.id).admin || @group.id == 0 %>
                        <div class="col add_member_section">
                            <input type="hidden" class="member_group_id" value="<%= @group.id %>">
                            <input type="email" class="member_email" placeholder="Recipient Email Here">
                            <button class="create_membership btn btn-sm btn-primary shadow my-2" >Add Member</button>
                        </div>
                    <% end %>
                <% end %>
            </div>
        <%# member hidden section end   %>
        <% end %>

    </div>

</div>

<script type="text/javascript">
$(function(){

    // collapse expand partial
     $(".title").on("click", function(){
        var collapseList = $(this).closest(".collapseList");
        var changeIcon = $(collapseList).find(".titleIcon");
        $(changeIcon).toggle("fa-caret-right");
    });

    // note put scripts in  main page rather than partial
    // delete operation of ISE
    $("button.delete_id").on("click", function(){
        var delete_ise = $(this).attr('data-id');

        $.ajax({
            url: 'expenses/delete',
            type: 'delete',
            dataType: 'json',
            data: {id: delete_ise},
            success: function(response){
                location.reload();
            },
            error: function(e){
                console.log(e)
            },
        });

    });


    //   create membership
     $(".create_membership").on("click", function(){
        var member = $(this).closest(".add_member_section");
        var group_id = $(member).find(".member_group_id").val();
        var member_email = $(member).find(".member_email").val();

        $.ajax({
            url: "/memberships/create",
            type: "post",
            dataType: "json",
            data: {
                group_id: group_id,
                member_email: member_email
            },
            success: function(){
                location.reload();
                $(member).find(".member_email").val("");
            },
            error: function(e){
                console.log(e);
            }
        });
    });

    // get date by filtering the data
    $(".getDateWiseData").on("click", function(event){
        var dateSpan = event.target.closest(".date-span");
        var date_from = $(dateSpan).find("input.date_from").val();
        var date_to = $(dateSpan).find("input.date_to").val();
        window.location.href = `/groups/<%= @group.id %>?date_from=${date_from}&date_to=${date_to}`;
    });

});
</script>
