
<%# chart %>

<div class="row m-auto text-center">
  <%# ISEL Details %>
  <div class="col-sm-3 mt-2">
    <h4 class="font-weight-bold">ISE aggregate result</h4>
    <div class="text-white font-weight-bold">
      <p class="bg-primary p-2">Total Incomes: <%= @total_incomes %> </p>
      <p class="bg-success p-2">Total Savings: <%= @total_savings %> </p>
      <p class="bg-warning p-2">Total Expenses: <%= @total_expenses %> </p>
      <p class="bg-danger p-2">Total Loans: <%= @total_loans %> </p>
    </div>
  </div>

  <%# chart %>
  <div class="col-sm-6 mt-2">

    <select id="chart_type" class="btn btn-success w-75" >
      <option value="line_chart">Line Chart</option>
      <option value="column_chart">Column Chart</option>
      <option value="bar_chart">Bar Chart</option>
      <option value="pie_chart">Pie Chart</option>
    </select>

    <div class="chart_list mt-2">

      <%# multiple line is needed %>
      <div class="chart" id="line_chart">
          <%= line_chart @ise_amount_list, title: "Aggregate Details in Line chart", xtitle: "Progress", ytitle: "Amount (Rs.)" %>
      </div>

      <div class="chart hide" id="column_chart">
          <%= column_chart @total_data, title: " Aggregate Details in Column chart", xtitle: "Monitory Types", ytitle: "Amount (Rs.)" %>
      </div>

      <div class="chart hide" id="bar_chart">
          <%= bar_chart @total_data ,title: "Aggregate Details in Bar chart", xtitle: "Amount (Rs.)", ytitle: "Monitory Types" %>
      </div>

      <div class="chart hide" id="pie_chart">
          <%= pie_chart @total_data ,title: "Aggregate Details in Pie chart" %>
      </div>

    </div>

  </div>  

  <%# Suggestions %>
  <div class="col-sm-3 mt-2">
    <h4 class="font-weight-bold">Suggestions</h4>
    
    <div class="text-white font-weight-bold">
      <% @suggestions.each do |suggest| %>
        <p class="bg-primary p-2"><%= suggest %> </p>
      <% end %>     
    </div>

    <%# pagination decoration  %>
    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @suggestions %>
      </div>
      <%= will_paginate @suggestions, :container => false %>
    </div>

  </div>

</div>



<script type="text/javascript">

$( document ).on('turbolinks:load', function() {
    // $("#chart_type").trigger("reset");
    // $("#chart_type").get(0).reset();
    // $("#chart_type")[0].reset();
  $("#chart_type").val("line_chart");
});

$(function(){

    $("#chart_type").on("change", function(){
        var chart_type = $(this).val();
        $('div.chart').hide();
        $("#"+chart_type).show(900);
    });
      
}); 
</script>
