<%#
ises: @loans,
edit_action: "/groups/#{@group.id}/loans/edit"
%>

<% if !ises.empty? %>
<div class="row mt-2">
    <% ise_type = ises[0].has_attribute?('source') ? "source" : ises[0].has_attribute?('spent_on') ? "spent_on" : ises[0].has_attribute?('saved_on') ? "saved_on": "loan_from" %>
    <% ise_title = ises[0].has_attribute?('source') ? "income" : ises[0].has_attribute?('spent_on') ? "expense" : ises[0].has_attribute?('saved_on') ? "saving" : "loan" %>

    <%# Title and add section %>
    <div class="col-12  ">
        <%= render 'layouts/add_isel', name: ise_title, create_action: "/groups/#{@group.id}/#{ise_title}s/create" %>
    </div>

    <%# datatable %>
    <div class="col-12 mt-4">
        <table id="dataTable" class="table table-striped">
            <thead>
                <th><%= ise_type.capitalize %></th>
                <th>Amount</th>
                <th>Description</th>
                <% if group_of(ises) != 0 %>
                <th>Member</th>
                <% end %>
                <th></th>
                <th>Action</th>
                <th></th>
            </thead>

            <tbody>
                <% ises.each do |ise| %>
                    <tr>
                        <td><%= ise[ise_type].truncate(15) %></td>
                        <td><%= ise.amount %></td>
                        <td><%= ise.description.truncate(15) %></td>
                        <% if group_of(ises) !=0 %>
                        <td><%= username(ise.user_id) %></td>
                        <% end %>
                        <td>
                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#viewDetail<%= ise.id %>">View</button>
                            <%= render 'layouts/view_detail', ise: ise, ise_type: ise_title %>
                        </td>
                        <td>
                            <% if ise.user_id  == current_user.id || admin?(@group.id, current_user.id) %>
                                <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editDetail<%= ise.id %>">Edit</button>
                                <%= render 'layouts/edit_detail',  ise: ise, edit_action: edit_action, heading: 'Edit '+ise_title %>
                            <% end %>
                        </td>
                        <td>
                            <% if ise.user_id  == current_user.id || admin?(@group.id, current_user.id) %>
                                <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteDetail<%= ise.id %>">Delete</button>
                                <%= render 'layouts/delete_detail', ise: ise %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<%# If no LISE %>
<% else %>
    <div class="h1 font-weight-bold text-danger text-center mt-4">
        <span style="text-shadow: 0 0 3px red;">Opps!<br> you don't have any data </span><br> 😕
    </div>
<% end %>


<script type="text/javascript">

// dataTable initialization
$(document).ready(function() {
    $('#dataTable').DataTable();
});

</script>
