<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">
          <h3 class="text-center">Daily Transaction</h3>
          <p class="text-justify">It is very important that wise business person make a habit of recording their transactions every day.
          It will assist in making informed, efficient and precise decisions at any time.
          Well kept accounting records act as a reminder of a person's deductible credits and expenses.</p>
        </div>

        <div class="col-lg-4 col-md-6 footer-links text-center">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="<%= home_path %>">Home</a></li>
            <% if user_signed_in? %>
              <li><a href="<%= profiles_path(current_user.id) %>"><%= username(current_user.id) %></a></li>
            <% end %>
            <li><a href="<%= invitations_path %>">Invitations</a></li>
            <% if @group %>
               <li><a href="<%= notifications_path(@group) %>">Notifications</a></li>
            <% end %>
            <li><a href="<%= setting_path %>">Settings</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4>Contact Us
          <sup>If anything goes wrong</sup></h4>
          <address>
            <p>Visit Us<br>
              Cassiopeia SoftWorks<br>
              4S Tower, Banepa, Nepal<br>
              <strong>Phone:</strong> 9860039284<br>
              <strong>Email:</strong> <a href="mailto:alferdstark123@gmail.com" class="text-light">Cassiopeia@gmail.com</a><br>
            </p>
          </address>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Daily Transaction</strong>. All Rights Reserved
    </div>
  </div>
</footer>
