
<% if user_signed_in? %>
	<div id="mySidenav" class="sidenav">

		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

		<div class="home">
			<a href="<%= home_path %>">
			<span class="fa fa-home"></span>&nbsp; Home</a>
		</div>

		<div class="group">
            <%= render "layouts/collapse_expand", {type:"group", tag: "Groups", listId: "groupList", items: current_user.groups} %>
		</div>

		<div class="invitation">
            <a href="<%= invitations_path %>">
            <span class="fa far fa-envelope"></span>&nbsp; Invitations </a>
		</div>

		<% if @group %>
			<div class="notification">
				<a href="<%= notifications_path(@group) %>">
				<span class="fa fa-bell"></span>&nbsp; Notifications</a>
			</div>
		<% end %>

		<div class="setting">
			<a href="<%= setting_path %>"><span class="fa fa-cog"></span>&nbsp; Settings</a>
		</div>
        <%# link_to 'Change Password', edit_user_registration_path %>
	</div>
<% end %>

<div id="main" class="d-flex shadow">
    <div class="d-flex align-items-center ml-3">
        <% if user_signed_in? %>
            <span id="openSideNav" style="font-size: 1.5em; cursor:pointer;" onclick="openNav()">&#9776;</span>
        <% end %>
    </div>

    <div class="d-flex justify-content-center flex-fill">
        <span class="font-effect-multiple-shadow title_name">Daily Transaction
        <% if @group %>
            (<a href="/groups/<%= @group.id %>"><%= @group.name.titleize %></a>)
        <% end %>
        </span>
    </div>

    <div class="d-flex align-items-center">
    <%# <%= user_signed_in? ? current_user.email : "Login" %>
        <% if user_signed_in? %>
            <% if User.find(current_user.id).admin %>
                <%# link_to "Admin Panel", rails_admin_path(current_user.id), class: "header-link" %>&nbsp;
            <% end %>
            <%= link_to username(current_user.id), profiles_path(current_user.id), class: "header-link" %>&nbsp;
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "header-link" %>
        <% else %>
            <%= link_to "Back", root_path, class: "header-link" %>&nbsp;
            <%= link_to "Login", new_user_session_path, class: "header-link" %>
        <% end %>
    </div>
    <%# render 'layouts/navbar' %>
</div>

<script>

    // sidebar
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        // document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundOpacity = "0.5";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        // document.getElementById("main").style.marginLeft= "0";
        document.body.style.backgroundColor = "white";
    }

    // var insideCount = 0;
    // $("#openSideNav").on("click", function(){
    //     insideCount += 1;
    //     console.log("Inside Click", insideCount);
    // });

    // if (insideCount >= 1){
    //     window.addEventListener("click", function(event){
    //         if(document.getElementById("mySidenav").contains(event.target) == false){
    //             closeNav();
    //             insideCount = 0;
    //         }
    //     });
    // }

    // window.addEventListener('click', function(e){
    //   if (document.getElementById('clickbox').contains(e.target)){
    //     // Clicked in box
    //   } else{
    //     // Clicked outside the box
    //   }
    // });

    // steaky navbar
    // window.onscroll = function() {myFunction()};

    // var navbar = document.getElementById("main");
    // var sticky = navbar.offsetTop;

    // function myFunction() {
    // if (window.pageYOffset >= sticky) {
    //     navbar.classList.add("sticky");
    // } else {
    //     navbar.classList.remove("sticky");
    // }
    // }

</script>

