<!DOCTYPE html>
<html>
  <head>
    <title>DailyTransaction</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </head>

  <body>


    <%# render 'layouts/alert' %>
    <%# toastr notification %>
    <% if flash.any? %>
      <script type="text/javascript">
        <% flash.each do |key, val| %>
          <% type = key.to_s.gsub('notice', 'success').gsub('alert', 'error') %>
          toastr.<%= type %>('<%= val %>')
        <% end %>
      </script>
    <% end %>

    <%# navbar  %>
    <%= render 'layouts/navbar' %>

    <div class="container-fluid" style="min-height: 100vh;">
      <%= yield %>
    </div>
  
    <footer  style="background: #6c4275;">
      <div class="row text-center text-white m-0">
        <div class="col-sm-6">
          <p class="mt-2">Daily Transaction</p>
          <p>Keeps your daily transaction report</p>
          <p>A system to make your economic life easy</p>
          <p>Have Fun</p>
        </div>
        
        <div class="col-sm-6">
          <div class="mt-2">CEO: Samir Acharya</div>
          <div class="mt-2">MD: Dhan Bdr. Moktan</div>
        </div>
      </div>
    </footer>

  </body>
</html>


